* {
    margin:0;
    padding:0;
}
h1 {
    text-align: center;
    
}
h2{
    color: black;
}

header {
    background-color: rgba(206, 206, 206, 0.949);
    padding: 10px;
    border: #f4efef;
    border-width: 5px;
}

header nav {
    text-align: center;
   
}

header nav ul li {
    display: inline;
    margin: 7px;
    color: black;
}    
   
.hero {
    background-image: url("../RM-Professional-Portfolio/images/hero-rmpp2.jpg.png");
    height: 600px;
    background-size: cover;   
}

#aboutme {
    opacity: 0.9;
    text-align: center;
    background-color: #f4efef;
    /* height: 385px;
    width: 400px; */
    max-width: 500px;;
    margin-top: 25px;
    margin-left: 50px;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 4px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width: 390px;
    opacity: 1.0;
    border-radius: 2px;
    border-style: solid;
}

.project-section {
    text-align: center;
    /* text-decoration: ; */
}

.project-section h2 {
    margin-top: 40px;
}

.first-project-container {
    display: flex;
    height: 450px;
}

.first-project-container a {
    text-decoration: none;
    margin: auto;
}

.first-project {
    margin: 40px auto;
    /* background-color:black; */
    height: 400px;
    width: 825px;
    background-image: url("./images/run-buddy-pic.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

.first-project h3 {
    position: absolute;
    bottom: 20px;
    background-color: white;
    color: black;
    padding:8px 16px;
}

.first-project-pic {
    height: 400px;
    width: 700px;
}

 .projectcontainer{
    display: flex;
    /* height: 350px; */
    flex-wrap: wrap;
    justify-content: center;
} 

.projectcontainer img {
    width: 300px;
    height: 225px;
    margin: 20px;
    justify-items: center;

}

.footer {
    background-color: rgba(206, 206, 206, 0.949);
    height: 200px;
    position: relative;
    margin-top: 20px;
    clear: both;
    /* background-image: -; */
}
footer div h2 {
    text-align: center;
    font-size: 25px;
    padding: 20px;
}
footer div p {
    color: whitesmoke;
    padding-bottom: 50px;
    text-align: center;
}

footer div ul li {
    text-align: center;
}
